<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
    {% block content %}
    <div class="container px-4 px-lg-5-gallery">
            <!-- Heading Row-->
                {% for img in image %}
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{MEDIA_URL}}{{img.image.url}}" /></div>
            </div>
                {% endfor %}
        </div>
    {% endblock content %}
    </body>
</html>
