<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
    {% block content %}
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
			 <style type="text/css">
			 #thumbs { padding-top: 10px; overflow: hidden; }
			 #thumbs #largeImage { border: 1px solid gray; padding: 4px; background-color: white; cursor: pointer; }
			 #thumbs { float: left; margin-right: 6px; }
			 #description { background: black; color: white; position: absolute; bottom: 0; padding: 10px 20px; width: 525px; margin: 5px; }
			 #panel { position: relative; }
			 #imgphoto { width: 30%; }
			 </style>
    <div class="container">
        <div id="gallery">
            <div id="panel" style="min-height: 500px; max-height: 500px; background-color: #222; display: flex; align-items: center; justify-content: center;">
                <img id="largeImage" style="max-width: 100%; max-height: 500px; flex: 0 0 auto; display: flex;" src="{{MEDIA_URL}} {{first_image.image.url}}" />
            </div>
            <div id="thumbs">
                {% for img in image %}
                        <img id='imgphoto' src="{{MEDIA_URL}}{{img.image.url}}" alt="{{img.id}}" />
                {% endfor %}
            </div>
        </div>
    </div>

<script>
$('#thumbs').delegate('img','click', function(){
	$('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
	$('#description').html($(this).attr('alt'));
});
</script>
        </div>
    {% endblock content %}
    </body>
</html>
