<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <body>
    {% block content %}
        <div class="container px-4 px-lg-5">
            <div class="card my-5 py-4 text-center">
                {% if is_aut %}
                <p>
                    <a class="btn btn-primary btn-sm" href="{% url 'city_bus_update' bus_detail.id %}">Редактировать</a>
                    <a class="btn btn-primary btn-sm" href="{% url 'city_bus_delete' bus_detail.id %}">Удалить</a>
                </p>
                {% endif %}
                <div><p class="text-white m-0"><h2>{{ bus_detail.number }} {{ bus_detail.track }}</h2></p></div>
                <div class="history text-center">
                    <p>{{ bus_detail.content | safe }}</p>
                </div>
            </div>
        </div>
    {% endblock content %}
    </body>
</html>
