<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
    {% block content %}
    <div class="container px-4 px-lg-5">
     <div class="row gx-4 gx-lg-5 my-5">
        {% for gallery in galleries %}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="{{MEDIA_URL}}{{gallery.cover_gallery.url}}">
                <div class="card-body">
                    <h2 class="card-title">{{ gallery.name }}</h2>
                    <p class="card-text">{{ vacanci.info_gallery|truncatewords:20 }}</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'by_galleries' gallery.id %}">Смотреть</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>






    {% endblock content %}
    </body>
</html>
