<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
    {% block content %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/assets/kavz01.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Добро пожаловать на главную страницу АТП</h1>
                    <p>Услуги по перевозке пассажиров ООО "Чусовское АТП" оказываются на территории всего чусовского района.
                        Также в ведении предприятия находится автовокзал г.Чусового, а соответственно и обслуживание междугородних
                        маршрутов проходящих через г.Чусовой.
                    </p>
                    <a class="btn btn-primary" href="#!">Посмотреть расписание</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div><p class="text-white m-0"><h2>Последние новости и события</h2></p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                {% for new in news %}
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{{MEDIA_URL}}{{new.image.url}}">
                        <div class="card-body">
                            <h2 class="card-title">{{ new.news_header }}</h2>
                            <p class="card-text">{{ new.text|truncatewords:20 }}</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'news_detail' new.id %}">Читать</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endblock content %}
    </body>
</html>
