<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
    {% block content %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5 justify-content-center">
                <div class="col-lg-13">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{MEDIA_URL}} {{view.first_images.images.url}}" class="d-block w-100" alt="...">
                          </div>
                            {% for i in view.all_images %}
                        <div class="carousel-item">
                            <img src="{{MEDIA_URL}}{{i.images.url}}" class="d-block w-100" alt="...">
                        </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
             <!--Start of Bilet.do Script-->
                <div id="biletdo-widget" style="width: 100%; overflow-y: hidden;"></div>
                <script type="text/javascript">(function(){var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];s1.async=true;var meta=document.createElement("meta");meta.name = "viewport";meta.content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0";document.getElementsByTagName("head")[0].appendChild(meta);s1.src='https://bilet.do/agency-widget/widget.js?agency=fsIJdako5sdfsfsd2b95cd66f6904c531f9eee606fe08e8fs45Jdslfn0due6fds72542768dba99cf208d5503469f90fe4&color=%23343a40&bRounding=true';s1.charset='UTF-8';s1.id='Bilet.do';s0.parentNode.insertBefore(s1,s0); })();</script>
             <!--End of Bilet.do Script-->
            <!-- Call to Action-->
            <div class="row justify-content-center">
                <a class="text-white bg-primary btn btn-primary" style="margin-top: 1rem" href="https://nimbus.wialon.com/locator/a11dc18b746b4c2890877f578c1bc825/">Автобусы ONLINE</a>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                {% for new in news %}
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{{MEDIA_URL}}{{new.image.url}}">
                        <div class="card-body">
                            <h2 class="card-title">{{ new.news_header }}</h2>
                            <p class="card-text">{{ new.text |safe|truncatewords:15 }}</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-sm" href="{% url 'news_detail' new.id %}">Читать</a>
                            {% if is_aut %}
                            <a class="btn btn-primary btn-sm" href="{% url 'news_update' new.id %}">Редактировать</a>
                            <a class="btn btn-primary btn-sm" href="{% url 'news_delete' new.id %}">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if is_aut %}
             <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img src="/static/img/add.png"/>
                    <div class="card-body">
                        <h2 class="card-title">Добавить новость</h2>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm" href="{% url 'news_add' %}">Добавить</a>
                    </div>
                </div>
            </div>
        {% endif %}
            </div>
        </div>
    {% endblock content %}
    </body>
</html>
