<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <body>
    {% block content %}
        <div class="container px-4 px-lg-5">
            <div class="card my-5 py-4 text-center" style="margin-bottom: 1.5rem">
                <div><p class="text-white m-0"><h2>Документы</h2></p></div>
            </div>
            {% for i in information %}
            <div class="card my-5 py-4 text-center" style="margin-bottom: 1.5rem">
                <div><p class="text-white m-0">
                    <p>{{i.name}}</p>
                    <p>{{i.text}}</p>
                    {% if i.file %}
                    <p><a href="{{i.file.url}}" download="{{i.file.url}}">Скачать</a></p>
                    {% endif %}
                </div>
                {% if is_aut %}
                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm" href="{% url 'information_update' i.id %}">Редактировать</a>
                        <a class="btn btn-primary btn-sm" href="{% url 'information_delete' i.id %}">Удалить</a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% if is_aut %}
            <div class="container px-4 px-lg-5 text-center">
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="{% url 'information_add' %}">Добавить документ</a>
                </div>
            </div>
        {% endif %}
    {% endblock content %}
    </body>
</html>
