<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
    <body>
    {% block content %}
    <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{MEDIA_URL}}{{vacanci.vacancies_img.url}}" /></div>
                <div class="col-lg-7">
                        <div class="card h-100" style="padding: 20px; bottom: 0px">
                            <h1 class="font-weight-light">{{ vacanci.name }}</h1>
                            <p>{{ vacanci.info| safe }}</p>
                            <a class="btn btn-primary btn-sm" href="{% url 'contact' %}">Откликнуться на вакансию</a>
                        </div>
                </div>
            </div>
        </div>
    {% endblock content %}
    </body>
</html>
