<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block route %}
<h4 id="routes" class="mx-auto my-0 text-uppercase">{{ vacanci.name }}</h4>
{% endblock route %}

{% block history %}
                 <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <form method="post">
                                    <center>
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit">Отправить</button>
                                    </center>
                            </form>
                                    <center>
                                        <font color="#fc0808" face="Impact">
                                     {% if messages %}
                                    {% for message in messages%}
                                    {{message}}
                                    {% endfor %}
                                    {% endif %}
                                            </font>
                                    </center>
                        </div>
                    </div>
                </div>
{% endblock history %}

</body>
</html>
